body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background-color: #2196F3;
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    color: white;
}

h2, h3, h4, label, p {
    color: #fff;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background: #debff4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}

button:hover {
    background: #8b48d7;
}

#toggle-temp-unit {
    background: #debff4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 110px;
    font-size: 15px;
}

#toggle-temp-unit:hover {
    background-color: #8b48d7;
}

#current-weather {
    margin-top: 20px;
}

#weather-icon {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

#forecast {
    margin-top: 20px;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
}

.forecast-item {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.forecast-item img {
    width: 50px;
    height: 50px;
}

#search-history {
    margin-top: 20px;
}
